{
  "root": true,
  "extends": ["plugin:@typescript-eslint/eslint-recommended", "prettier"],
  "plugins": ["unused-imports"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-console": ["error", { "allow": ["debug", "warn", "error"] }],
    "react/display-name": "off",
    "unused-imports/no-unused-imports": "error",
  },
}
